{% extends 'base.html' %}

{% block title %}New Tamil Songs{% endblock %}

{% block content %}
{% if all_albums %}
<div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
          	{% for album in all_albums %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ album.album_cover_image.url }}" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><a href="{% url 'album' album.id%}">{{ album.album_title }}</a></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'album' album.id%}">View</a></button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          
          </div>
        </div>
      </div>
	 
        
    
        	
        	
        	
        </ul>
	 {% else %}
        <h3>You dont have any albums</h3>
	 {% endif %}
{% endblock %}